dugar-lms-ui/node_modules/
dugar-lms-ui/dist/
dugar-lms-ui/.env
dugar-lms-ui/.env.*
!dugar-lms-ui/.env.example
dugar-lms-ui/*.log
dugar-lms-ui/npm-debug.log*
dugar-lms-ui/yarn-debug.log*
dugar-lms-ui/yarn-error.log*
dugar-lms-ui/pnpm-debug.log*

dugar-lms-frontend/node_modules/
dugar-lms-frontend/dist/
dugar-lms-frontend/.env
dugar-lms-frontend/.env.*
!dugar-lms-frontend/.env.example
dugar-lms-frontend/*.log
dugar-lms-frontend/npm-debug.log*
dugar-lms-frontend/yarn-debug.log*
dugar-lms-frontend/yarn-error.log*
dugar-lms-frontend/pnpm-debug.log*
dugar-lms-frontend/dugarlms20/

dugar-lms-api/target/
dugar-lms-api/*.log
dugar-lms-api/migration_data/
dugar-lms-api/.mvn/wrapper/maven-wrapper.jar
dugar-lms-api/.idea/
dugar-lms-api/.vscode/
dugar-lms-api/*.iml
dugar-lms-api/cred
dugar-lms-api/docs/*.pem
dugar-lms-api/docs/*.ppk

.DS_Store
Thumbs.db
.combined-push-*/
